.popup-link__button svg {
  display: inline-block;
  position: relative;
  top: var(--margin-2xs);
}

.popup-link__content {
  box-shadow: var(--shadow-popover);
  border: var(--style-border-popover);
  border-radius: var(--style-border-radius-popover);
  background-color: var(--color-background);
  padding: var(--padding-4xl) var(--padding-xl) var(--padding-xl);
  max-width: var(--normal-content-width);
  max-height: var(--modal-max-height);
}

@media screen and (min-width: 750px) {
  .popup-link__content {
    padding: var(--padding-5xl);
  }
}

.popup-link__content[open] {
  animation: modalSlideInTop var(--animation-speed) var(--animation-easing) forwards;
}

.popup-link__content.dialog-closing {
  animation: modalSlideOutTop var(--animation-speed) var(--animation-easing) forwards;
}

.popup-link__content--drawer {
  position: fixed;
  border-radius: 0;
  width: var(--sidebar-width);
  max-width: 95vw;
  height: 100%;
  margin: 0 0 0 auto;
}

.popup-link__content--drawer:modal {
  max-height: 100dvh;
}

.popup-link__close {
  top: var(--margin-2xs);
  right: var(--margin-2xs);
  opacity: 0.8;
  animation: none;
}
